.navbar {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Align items vertically */
  height: 50px; /* Adjust navbar height */
  padding-left: 50px;
  background-color: #5fa395; /* Header background color */
}

.navLinks {
  display: flex;
  gap: 20px; /* Add spacing between links */
}

.navLink {
  color: black; /* Default text color */
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent; /* Transparent border */
  transition: all 0.3s ease-in-out; /* Smooth transition for hover and active effects */
}

.navLink:hover {
  color: #ffffff; /* White text on hover */
  background-color: #5fa395; /* Same as header background for hover */
  border-color: #3d6e5f; /* Subtle border in dark teal */
}

.active {
  background-color: #3d6e5f; /* Highlight background color (dark teal) */
  color: #ffffff; /* Highlight text color */
  border-color: #3d6e5f; /* Match border to background */
}
