.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover; /* Make sure the image covers the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
}

.formWrapper {
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.9); /* Slight transparency for better readability */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input {
    //width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .submitBtn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submitBtn:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
  }
  
  .toggleLink {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .toggleLink:hover {
    text-decoration: underline;
  }
  